.hamburger {
	display: flex;
	flex-direction: column;
	width: 70px;
	cursor: pointer;
	margin-right: 3.5rem;
	margin-top: 0.5rem;
	z-index: 999;

	& span {
		background: $color-primary;
		border-radius: 999px;
		height: 4px;
		margin: 7px 0;
		transition: $nav-timing;
		backface-visibility: hidden;
	}

	& span:nth-of-type(1) {
		width: 50%;
	}

	& span:nth-of-type(2) {
		width: 100%;
	}

	& span:nth-of-type(3) {
		width: 75%;
	}

	&.active {
		& span {
			background: $background-color;
		}

		& span:nth-of-type(1) {
			transform-origin: bottom;
			transform: rotatez(45deg) translate(8px, 0px);
		}

		& span:nth-of-type(2) {
			transform-origin: top;
			transform: rotatez(-45deg) translateY(2px);
		}

		& span:nth-of-type(3) {
			transform-origin: bottom;
			width: 50%;
			transform: translate(30px, -4px) rotatez(45deg);
		}
	}
}
